.one {
    height: 100%; 
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 30px; 
}

.in {
    border-radius: 16px;
    height: 80px;
    width: 400px; 
    padding: 20px; 
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    }

svg{
    margin-top: 10px; 
}



.line {
    border-left: 1px solid whitesmoke; 
    margin: 10px; 
     
}

.inpu {
    padding: 10px; 
    padding-top: 25px; 
    margin-right: 15px;
    width: 240px;
    border:none; 
    font-size: 14px;
    background: transparent;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input:focus {
    background-color: transparent;
    border:none; 
    outline: none; 
}

