.background {
    background-color: white;
    width: 700px; 
    height: 600px; 
    position: fixed; 
    display: inline-block; 
    justify-content: center;
    border-radius: 2px;

}

.fixed {
    width: 90%;
    height: 50%; 
    margin: auto; 
}

h1{
    color: rgb(116, 113, 113);
    margin-top: 10px; 
}


img {
    padding: 10px; 
}


